$facebook: #3B5998 !default;
$facebook-border: #A9B3CB !default;


.button-app {
    @include button-style($button-app-bg, $button-app-border, $button-app-active-bg, $button-app-active-border, $button-app-text);
    @include button-clear($button-app-bg);
    @include button-outline($button-app-bg);
}

.button.button-facebook {
    border-color: $facebook-border;
    background-color: $facebook;
color: #fff; }
.button.button-facebook:hover {
    color: #fff;
text-decoration: none; }
.button.button-facebook.active, .button.button-facebook.activated {
    border-color: #0c60ee;
    background-color: #0c60ee;
box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
.button.button-facebook.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
color: #387ef5; }
.button.button-facebook.button-icon {
    border-color: transparent;
background: none; }
.button.button-facebook.button-outline {
    border-color: #387ef5;
    background: transparent;
color: #387ef5; }
.button.button-facebook.button-outline.active, .button.button-facebook.button-outline.activated {
    background-color: #387ef5;
    box-shadow: none;
color: #fff; }
